@use "presets" as *;
@use "mixins" as *;

*::before,
*::after,
* {
  box-sizing: border-box;
}

html {
  font-size: $font-size;
  overflow-y: scroll;
}

body {
  font-size: $font-size;
  font-family: $font-main;
}

a {
  color: $color-primary;
  transition: color 0.25s;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $color-accent;
  }
}