.header-logo__title,
.header-logo__description
{
    text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 20px #000;
}

.navbar-inverse
{
    background-color: #191919;
}
.navbar-inverse .navbar-nav > .active > a
{
    background-color: #053159;
}
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus
{
    background-color: #517ba2;
}
.navbar-inverse .navbar-nav > li > a
{
    -webkit-transition: background-color .5s;
            transition: background-color .5s;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a .navbar-inverse .navbar-nav > li > a:focus
{
    background-color: #165690;
}

.navbar-header
{
    text-align: center;
}

.navbar-toggle
{
    float: none;

    margin-right: 0;
}

.panel
{
    margin-bottom: 30px;

    border: none;
    background-color: #f4f4f4;
}
.panel-info > .panel-heading
{
    font-size: 1.25rem;

    letter-spacing: .1em;

    color: #fff;
    border: none;
    background-color: #df8a13;
}
.panel-body
{
    border: 1px solid #d5d5d5;
    border-radius: 0 0 4px 4px;
}

.input-lg,
.input-group-lg > .form-control
{
    font-size: .875rem;
}

*::before,
*::after,
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html
{
    font-size: 16px;

    overflow-y: scroll;
}

body
{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

h1
{
    font-size: 3rem;

    margin-top: calc(-15px / 3 * 2);
}
h1::after
{
    position: absolute;

    width: 100%;
    margin: .85em 0 0 15px;

    content: '';

    border-bottom: 3px solid #f0ad4f;
}

a
{
    -webkit-transition: color .25s;
            transition: color .25s;

    color: #165690;
}
a:hover,
a:focus
{
    text-decoration: none;

    color: #df8a13;
}

.header
{
    margin-bottom: 80px;
}
.header-logo
{
    padding: 100px 0;

    text-align: center;

    background-color: #232323;
    background-image: url(../img/header-bg.jpg);
    background-position: 50% 50%;
    background-size: cover;
}
.header-logo__title
{
    font-family: 'PT Serif', serif;

    display: block;

    margin-right: -.33em;

    letter-spacing: .33em;

    color: #df8a13;
}
.header-logo__description
{
    font-size: 1.15rem;

    display: block;

    letter-spacing: .2em;

    color: #fff;
}

.main
{
    margin-bottom: 80px;
}
.main .site-search
{
    margin-bottom: 45px;
}
.main .user-login
{
    margin-bottom: 60px;
}

.top-films,
.new-films
{
    position: relative;

    overflow: hidden;
}
.top-films-title,
.new-films-title
{
    font-family: 'PT Serif', serif;

    margin-bottom: 1em;
}
.top-films-row,
.new-films-row
{
    margin: 0 -7.5px -15px;
}

.top-film-item,
.new-film-item
{
    margin-bottom: 15px;
    padding: 0 7.5px;
}
.top-film-item__thumbnail,
.new-film-item__thumbnail
{
    margin-bottom: 0;

    -webkit-transition: background-color .25s;
            transition: background-color .25s;
}
.top-film-item__caption,
.new-film-item__caption
{
    text-align: center;
}
.top-film-item__title,
.new-film-item__title
{
    font-size: 1rem;
    font-weight: 700;

    display: block;
    overflow: hidden;

    margin: 0;

    -webkit-transition: color .25s;
            transition: color .25s;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.top-film-item__image,
.new-film-item__image
{
    width: 100%;
}
.top-film-item:hover .top-film-item__thumbnail,
.top-film-item:hover .new-film-item__thumbnail,
.top-film-item:focus .top-film-item__thumbnail,
.top-film-item:focus .new-film-item__thumbnail,
.new-film-item:hover .top-film-item__thumbnail,
.new-film-item:hover .new-film-item__thumbnail,
.new-film-item:focus .top-film-item__thumbnail,
.new-film-item:focus .new-film-item__thumbnail
{
    background-color: #df8a13;
}
.top-film-item:hover .top-film-item__title,
.top-film-item:hover .new-film-item__title,
.top-film-item:focus .top-film-item__title,
.top-film-item:focus .new-film-item__title,
.new-film-item:hover .top-film-item__title,
.new-film-item:hover .new-film-item__title,
.new-film-item:focus .top-film-item__title,
.new-film-item:focus .new-film-item__title
{
    color: #fff;
}

.left-sidebar
{
    margin-bottom: 80px;
}
.left-sidebar .panel:last-of-type
{
    margin-bottom: 0;
}

.vertical-slider
{
    overflow: hidden;

    border-radius: 4px;
}
.vertical-slider__image
{
    width: 100%;
}

.user-login
{
    position: relative;
}
.user-login__tabs
{
    position: absolute;
    top: 0;
    right: 10px;

    border: none;
}
.user-login__tabs a
{
    padding: 14px 5px 11px !important;

    color: #d5d5d5;
    border: none !important;
    background-color: transparent !important;
}
.user-login__tabs .active a
{
    color: #fff !important;
}

.site-news-item
{
    position: relative;

    clear: both;
}
.site-news-item:not(:last-of-type)
{
    min-height: 85px;
    margin-bottom: 15px;
}
.site-news-item:not(:last-of-type)::after
{
    position: absolute;
    right: 0;
    bottom: -4px;

    width: calc(100% - 85px);
    height: 1px;

    content: '';

    background-color: #d5d5d5;
}
.site-news-item__thumbnail
{
    float: left;

    width: 75px;
    margin: 0 10px 10px 0;

    -webkit-transition: background-color .3s, border-color .25s;
            transition: background-color .3s, border-color .25s;
}
.site-news-item__title
{
    margin-bottom: .5em;
}
.site-news-item__title a
{
    font-size: 1rem;
    line-height: 1.5rem;

    display: -webkit-box;
    overflow: hidden;

    height: 50px;

    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.site-news-item__date
{
    font-size: .8rem;

    text-align: right;

    color: #6f6f6f;
}
.site-news-item:hover .thumbnail
{
    border-color: #df8a13;
    background-color: #df8a13;
}

.top-films__body
{
    padding-right: 0;
    padding-left: 0;
}
.top-films__list
{
    margin-bottom: 0;
}
.top-films__item
{
    margin: 0 -1px -1px;
    padding-right: 55px;

    -webkit-transition: color .3s;
            transition: color .3s;

    color: #165690 !important;
    background-color: transparent;
}
.top-films__item:first-of-type
{
    border-top: none;
    border-radius: 0;
}
.top-films__item:last-of-type
{
    border-bottom: none;
    border-radius: 0;
}
.top-films__item:hover,
.top-films__item:focus
{
    color: #fff !important;
    border-color: #df8a13 !important;
    background-color: #df8a13 !important;
}
.top-films__item:hover .badge,
.top-films__item:focus .badge
{
    background-color: #232323;
}
.top-films__badge
{
    position: absolute;
    top: 50%;
    right: 15px;

    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
@media (min-width: 576px)
{
    .header-logo__title
    {
        font-size: 3.5rem;
    }
}
@media (min-width: 768px)
{
    .navbar-inverse .navbar-nav > li > a
    {
        border-radius: 4px;
    }
    .navbar-left li
    {
        margin: 5px 5px 5px 0;
    }
    .navbar-right
    {
        margin: 0;
    }
    .navbar-right li
    {
        margin: 5px 0 5px 5px;
    }
}
@media (max-width: 767.8px)
{
    .navbar-inverse .navbar-nav > li > a
    {
        text-align: center;
    }
    .navbar-right
    {
        margin-top: -7.5px;
        margin-bottom: 7.5px;
    }
}
@media (max-width: 575.8px)
{
    .header-logo__title
    {
        font-size: 2.5rem;
    }
}
